<h2>Visitors:</h2>


<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Date and time</th>
			<th>Master</th>
			<th>Color</th>
		</tr> 
	</thead>
	<tbody>
		<% @arr.each.with_index do |el, i| %>
		<tr> 
			<th scope="row"><%= i+1 %></th>
			<td><%=el[0] %></td> 
			<td><%=el[1] %></td> 
			<td><%=el[2] %></td>
			<td><%=el[3] %></td>
			<td><%=el[4] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>

<form action="/admin" method="POST">
<button name="clean" value="clean" type="submit" class="btn btn-primary">Очистить список</button>
</form>