<h2>Visitors:</h2>


<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Date and time</th>
			<th>Master</th>
			<th>Color</th>
		</tr> 
	</thead>
	<tbody>
		<% @arrdb.each do |el| %>
		<tr> 
			<th scope="row"><%=el[0]%></th>
			<td><%=el[1] %></td> 
			<td><%=el[2] %></td> 
			<td><%=el[3] %></td>
			<td><%=el[4] %></td>
			<td><%=el[5] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>